* {
    /* universal memungkinkan semua tag yang ada di dalam html terpengaruh dengan CSS universal */
    box-sizing: border-box;
}

body {
    background-image: url("/src/img/anime-girl-alone-cat-night-sky-stars-city-scenery-ai-4k-wallpaper-uhdpaper.com-743@1@l.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.header {
    text-align: center;
    padding: 20px;
}

.header p {
    color: whitesmoke;
}

.navbar {
    overflow: hidden;
    background-color: #16559a;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    text-decoration: none;
    color: aquamarine;
    padding: 15px;
}

.navbar a:hover {
    /* background-color: aliceblue; */
    color: #f190c3;
}

.column {
    float: left;
    padding: 10px;
}

.column.side {
    width: 25%;
}

.column.side h2 {
    color: antiquewhite;
}

.column.side p {
    color: greenyellow;
}

.column.middle {
    width: 50%;
}

.column.middle h2 {
    color: antiquewhite;
}

.column.middle p {
    color: greenyellow;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: darkblue;
    padding: 10px;
    text-align: center;
}
